[package]
name = "collect_failable"
version = "0.4.0"
edition = "2021"
description = "A trait for collecting values into a container which has an invariant to uphold and whose construction may fail"
repository = "https://github.com/MaxMahem/collect_failable"
keywords = ["iterator", "collect", "container"]
authors = ["Austin Stanley <maxtmahem@gmail>"]
license = "MIT OR Apache-2.0"

[features]
hash_map = ["dep:tap", "dep:fluent_result", "dep:size_guess"]
btree_map = ["dep:tap", "dep:fluent_result"]
hashbrown = ["dep:tap", "dep:fluent_result", "dep:hashbrown", "dep:size_guess"]
indexmap = ["dep:tap", "dep:fluent_result", "dep:indexmap", "dep:size_guess"]

[dependencies]
tap = { version = "1.0.1", optional = true }
fluent_result = { git = "https://github.com/MaxMahem/fluent_result.git", optional = true }
size_guess = { git = "https://github.com/MaxMahem/size_guess.git", optional = true }
thiserror = { version = "2.0.17" }
hashbrown = { version = "0.16.0", optional = true }
derive_more = { version = "2.0.1", features = ["constructor"] }
indexmap = { version = "2.12.0", optional = true }

[dev-dependencies]
collect_failable = { path = ".", features = ["hash_map", "btree_map", "hashbrown", "indexmap"] }
