[package]
name = "collect_failable"
version = "0.11.1"
edition = "2021"
description = "A trait for collecting values into a container which has an invariant to uphold and whose construction may fail"
repository = "https://github.com/MaxMahem/collect_failable"
keywords = ["iterator", "collect", "container"]
authors = ["Austin Stanley <maxtmahem@gmail>"]
license = "MIT OR Apache-2.0"
categories = ["data-structures", "rust-patterns", "error-handling"]

[features]
default = ["unsafe"]
utils = []
unsafe = []
hashbrown = [ "dep:hashbrown" ]
indexmap = [ "dep:indexmap" ]
arrayvec = [ "dep:arrayvec" ]

[dependencies]
tap = { version = "1.0.1" }
fluent_result = { git = "https://github.com/MaxMahem/fluent_result.git", version = "0.9.0" }
thiserror = { version = "2.0.17" }
hashbrown = { version = "0.16.0", optional = true }
derive_more = { version = "2.0.1", features = ["constructor", "from", "is_variant", "try_unwrap", "unwrap", "deref"] }
indexmap = { version = "2.12.0", optional = true }
arrayvec = { version = "0.7.6", optional = true }
include-doc = "0.2.2"
sealed = "0.6.0"
no_drop = { git = "https://github.com/MaxMahem/no_drop.git", version = "0.2.2" }
subdef = "0.1.2"
itertools = "0.14.0"

[dev-dependencies]
collect_failable = { path = ".", features = ["hashbrown", "indexmap", "arrayvec", "utils"] }
